<p class="lead">gulp 2000 &#13206; water!</p>
<p><%= @today.strftime('%Y') %>年</p>
<p><%= @today.strftime('%m月%d日（%a）') %></p>
<p>本日</p>
<p><%= @todays_qty %>杯 / <%= @todays_amount %> &#13206;</p>
<p>あと</p>
<p>およそ <%= @todays_rest %> 杯</p>
<table class="table">
<% @todays_data.each do |drink| %>
  <tr>
    <td><%= drink.id %></td>
    <td><%= drink.water %></td>
    <td><%= drink.created_at %></td>
  </tr>
<% end %>
</table>
<%= form_for @drink_new do |f| %>
  <%= f.label :water, "water" %>
  <%= f.text_field :water %>
  <%= f.submit "gulp" %>
<% end %>
